em {
    color: rgb(222, 207, 255);
    font-style: italic;
}

.container-flex {
  
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 0 16PX 0;
    width: 90%
}

.item-flex-2{
    text-align: right;
    flex: 2 

}

.item-flex-3{
    text-align: center;
    flex: 3
}

.avi img{
    
    width: 250px;
    height: auto;

    margin-right: 8px;
    border-radius: 20%;
    box-shadow: 5px 5px 5px rgb(54, 54, 54);
    
}

.info{
    display: grid;
    grid-template-columns: 1fr 3fr;
    
    gap: 16px;
    font-size: 1.75rem;

    
}

.left-col {
    text-align: right;
}

.right-col {
    text-align: left;
}

@media all and (max-width: 960px) {
    .avi img{
    
        width: 200px;
        
        
    }

    .info{
        
        font-size: 1.25rem;
    }
    
}


@media all and (max-width: 700px) {
    .container-flex {
        min-height: 100vh;
        width: 80%;
        flex-flow: column;
    }
    
    .item-flex-2{
        
        flex: 0 0 100%;
        text-align: center;
        padding-bottom: 48px;
    
    }
    
    .item-flex-3{
        
        flex: 0.1 0 100%;
        
    }


    .info{
        
        font-size: 1.2rem;
    }
    

}



