/*Base Styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Quicksand';
}

.navbar {
    position: relative;
    z-index: 1;
    background-color: transparent;
    margin: 0 1em;
}

.navbar-container {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.navbar-container li a {
    display: block;
    margin: 20px 5px;
}

.navbar-logo {
    flex: 1;
    font-size: 2em;
    text-align: left;
}

.navbar-link {
    flex: 0 1 3em;
    font-size: 1.25em;
    display: none;
}

.navbar-link a div{
    display: none;
}

.active .navbar-link {
    display: block;
}

.active .navbar-link a svg{
    box-sizing: content-box;
    padding-right: 4px;
    display: inline;
}

.button-secondary {
    border-bottom: 1px #444 solid;
}

.navbar-link a:hover,
.navbar-link a:focus{
    color: #ccc;
}

/*Tablet min-width*/
@media all and (min-width: 700px) {
    
}


@media all and (min-width: 960px){
    
    .navbar-container {
        align-items: center;
        justify-content: center;
    }

    .navbar-link {
        display: block;
        width: auto;
    }

    .navbar-link a svg{
        display: inline;
    }

    .toggle {
        display: none;
    }
}