/*Base Styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background-color: transparent;
    padding: 0 15px;
}

.navbar {
    
}

.navbar-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navbar-container li a {
    display: block;
    padding: 15px 5px;
}

.toggle {
    order: 1;
}

.navbar-logo {
    font-size: large;
    padding: 7.5px 10px 7.5px 0;
}

.navbar-link {
    padding: 10px;

    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .navbar-link {
    display: block;
}

.button-secondary {
    border-bottom: 1px #444 solid;
}

.navbar-link:not(.button) a:hover,
.navbar-link a:hover::after {
    color: #ccc;
}

