em {
    color: rgb(222, 207, 255);
    font-style: italic;
}

.about-me{
    width: 95%;
    margin: 16px;
}

.p-format{
    flex: 1;
    text-align: justify; 
}

.education{
    width: 95%;
    min-height: 95%;
}

.school-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    

}

.school-grid div{
    height: 100%;
    padding: 8px 0;
    display:flex; 
    flex-direction: column;
    justify-content: center;
    /*border-top: 2px dotted gainsboro;*/
}

.school-img{
    align-items: center;
}

.img-lg{
    height: 150px;
}

.img-sml{
    height: 100px;
}

.school-details{
    padding: 16px 24px;
    list-style-type: circle;
}

.school-details li{
   margin: 4px;
}

