em {
    color: rgb(222, 207, 255);
    font-style: italic;
}

.about-me{
    
    width: 90%;
    margin: 24px 16px;
}

.p-format{
    text-align: justify; 
}

.education{
    width: 90%;
    min-height: 95%;
}

.school-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
   
    
    font-size: 1.25rem;
}

.school-grid div{
    height: 100%;
   
    display:flex; 
    flex-direction: column;
    justify-content: center;
    /*border-top: 2px dotted gainsboro;*/
}


  
  /* Add a translucent line after each grid item except the last one */
.item:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.499); /* Adjust the color and opacity as needed */
  }

.school-img{
    width: 100%;
    align-items: center;
}

.img-lg{
    width: 50%;
}

.img-sml{
    width: 90%;
}

.school-details{
    padding: 16px 24px;
    list-style-type: circle;
}

.school-details li{
   margin: 4px;
}


@media all and (max-width: 960px) {
       
  
    
    .about-me >.section-content-background > h2,
    .education >.section-content-background > h2 {
        font-size: 2rem;
        margin-bottom: 0;
    }
    .p-format p {
        font-size: 1rem;
    }

    .school-details li{
        font-size: 1rem;
     }

    .item {
        width: 90%;
    }
  
}


@media all and (max-width: 700px) {

    .about-me {

        min-height: 100vh;
        width: 80%;
    }

    .p-format{
        flex-flow: column wrap;
    }

    .education{
        width: 80%;
        margin-bottom: 32px;
    }

    .school-grid{
        
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        place-items: center;
        font-size: 1.25rem;
    }

    .school-img{
        margin: 16px 0;
    }

    .img-lg{
        width: 40%;
    }
      

}