.tile-container {
    height: 250px;
    width: 250px;
    margin: 16px;

    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
    overflow: hidden;


    background-color: #d9d9d9;
    border-radius: 16px;

}

.tech-img-list {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 75px;
}

.tile-container img {
    display: block;
    margin: 8px;
    height: 100%;
}

.tile-container h1 {
    margin: 8px;
    color: #727272;
    font-size: 1.5rem;
}

.tile-container p {
   
    margin: 8px;
    color: #727272;
    font-size: 1rem;

    text-align: left;
}

/* On screens that are 960px or less, set the background color to olive */
@media all and (max-width: 960px) {

}
/* On screens that are 700px or less, set the background color to olive */
@media all and (max-width: 700px) {

}