em {
    color: darkgreen;
    font-style: italic;
}

.main-info-grid{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(8, 1fr);
}

.main-info{
    font-size: 2em;
    align-self: center;
}

.main-info div{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.main-info img{
    
    width: 20vw;
    height: auto;
    margin: 0;
    border-radius: 25%;
    box-shadow: 5px 5px 5px rgb(54, 54, 54);
    
}

.main-info.avi{
    grid-column-start: 2;
    grid-column-end: 4;
}

.main-info.fields{
    text-align: right;
    padding-bottom: 1em;
}

.main-info.data{
    text-align: left;
    grid-column-start: 5;
    grid-column-end: 8;
}

.section-content-wrapper{
    text-align: justify;
    padding: 1em 2em;
    
    font-size: 1.25em;
    background-color: rgba(255, 255, 255, 0.222);
}

.content-spacing{
    margin-top: 2em;
}


