em {
    color: rgb(236, 255, 231);
    font-style: italic;
}

.section-content-wrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
}

.section-content-background {
    margin: 8px 0;
    background-color: rgba(255, 255, 255, 0.222);
    border-radius: 8px;
}

.section-content-flex {
    display: flex;
}

.section-content-item {
    flex: 1;
}

.p-text-format{
    text-align: justify;
    line-height: 1.5;
}

.main-info-grid{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(8, 1fr);
}

.main-info{
    font-size: 2em;
    align-self: center;
}

.main-info div{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.main-info img{
    
    width: 20vw;
    height: auto;
    margin: 0;
    border-radius: 25%;
    box-shadow: 5px 5px 5px rgb(54, 54, 54);
    
}

.main-info.avi{
    grid-column-start: 2;
    grid-column-end: 4;
}

.main-info.fields{
    text-align: right;
    padding-bottom: 1em;
}

.main-info.data{
    text-align: left;
    grid-column-start: 5;
    grid-column-end: 8;
}