
/*Special Fonts*/

.company-font{
    font-family: Futura Bold;
}

/*Styles*/

body {
    background-color: black;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

p {

}

h1,h2,p {
    padding: 16px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}   

.hidden.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.project-preview {
    width: 100vw;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project-preview .item{

    margin: 8px;

}



/*Tablet min-width*/
@media all and (min-width: 700px) {
    .pos1 {
        width: 25%;
        height: 100%;
        
        top: 0;
        left: 0;
    }
    
    .pos2{
        width: 50%;
        height: 25%;
    
        top: 0%;
        left: 25%; 
    }

    .pos3{
        width: 25%;
        height: 50%;
    
        top: 0%;
        right: 0; 
    }

}

@media all and (min-width: 960px){
    .pos1 {
        width: 25%;
        height: 100%;
        
        top: 0;
        left: 0;
    }
    
    .pos2{
        width: 50%;
        height: 25%;
    
        top: 0%;
        left: 25%; 
    }

    .pos3{
        width: 25%;
        height: 33%;
    
        top: 0%;
        right: 0; 
    }

    .pos4{
        width: 12.5%;
        height: 33%;
    
        top: 33%;
        right: 0;
    }

    .pos5{
        width: 25%;
        height: 33%;
    
        top: 66%;
        right: 0; 
    }


}