/*styles*/
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    
    margin: 0 auto;
    
    overflow-x: hidden;
}

.project-preview {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project-preview .item{

    margin: 8px;

}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

a.pg-link {
    display: inline-block; /* Ensures the link behaves as an inline element BIG TIME SOLUTION!*/
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

a.pg-link:hover {
    transform: scale(1.2); /* Increase the size of the link image on hover */
}


.hob-link{
    margin: 4px;
    font-size: 3em;
}

.ft-link {
    margin: 4px;
    font-size: 2em;

    transition: color 0.2s ease;
}

.ft-link:hover {
    color: gray;
}

/*intersection transformations*/
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}   

.hidden.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hiddena {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}   

.hiddena.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hiddens {
    opacity: 0;
    filter: blur(1px);
    transform: translateY(50%);
    transition: all 1.25s;
    will-change: transform, opacity;
}   

.hiddens.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hiddenc {
    opacity: 0;
    filter: blur(1px);
    transform: translateY(-50%);
    transition: all 1.25s;
    will-change: transform, opacity;
}   

.hiddenc.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hide {
    transition-duration: 0.3s;
}

.delay-1 {
    transition-delay: 0.2s;
}
  
.delay-2 {
    transition-delay: 0.4s;
}
  
.delay-3 {
    transition-delay: 0.6s;
}

.delay-4 {
    transition-delay: 0.8s;
}
 
.delay-5 {
    transition-delay: 1s;
}

