section {
    
}

.contact-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mailer{

    width: 40%;

    text-align: left;
}

.side-by-side {
    display: flex;
    flex-direction: row;
  }
  
.info-sec {
    width: 35%;
  }
  
.form-sec {
    width: 65%;
  }
  
.link-sec {
    width: 100%;
  }

.divider{
  position: relative;
  width: 4px;
  background-image: linear-gradient(to bottom, transparent, #ffffff30, transparent);
  border-radius: 1000%;
  }

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 50%;
    margin: 0 auto;
}