
/* main navbar container styles */
.navbar {
    /* display styles */
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    /* position styles */
    position: fixed;
    width:100vw;
    top: 0;
    left: 0;
    z-index: 1;

    

    /* visual styles */
    padding: 8px 16px;
}

/* navbar logo styles */
.navbar-logo {
    flex: 1;
    font-size: 2em;
    text-align: left;
}

/* navbar link container styles (**CONTAINER FOR THE LINKS**)*/
.navbar-link-container {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/* navbar link styles (**THE LINKS**) */
.navbar-link {
    display: block;
    flex: 0 1 auto;

    margin: 0.75em;
    font-size: 1.25em;
}

.navbar-link a svg{
    margin-right: 0.1em; /* REMOVE FOR NAVBAR UPDATE */
}

/* link animations  */
.navbar-link a div{
    display: inline;
    font-size: 0;
    transition: font-size 300ms ease-in-out 100ms;
}

.navbar-link a:hover div{
    font-size: 1.25em;
    color: #ccc;
}

.navbar-link a:hover{
    color: #ccc;
}

.toggle {
    display: none;
}

.button-secondary {
    border-bottom: 1px #444 solid;
}


/* On screens that are 960px or less, set the background color to blue */
@media all and (max-width: 960px) {
    .navbar {
        padding: 16px;
    }

    .navbar-logo {
        font-size: 3em;
    }
    
    .toggle {
        display: block;
        flex: 0 1 auto;
        text-align: right;
        
        padding: 8px 16px;
        font-size:1.75em;

    }

    .navbar-link-container{
        flex-basis: 100%;
        flex-shrink: 0;
        flex-direction: column; 
        
        margin: 8px 0;
        background-color: rgba(128, 128, 128, 0.5);
        border-radius: 8px;

        font-size: 1.75em;
    }

    .navbar-link{
        display: none;
    }
    
    .active.navbar-link-container .navbar-link {
        
        flex: 1;
        display: flex;
        justify-content: center; /* Horizontally center */
        align-items: center; /* Vertically center */
        text-align: center;
        
        min-height: 18vh;
        width: 80%;
        margin: 0;
        
        border-bottom: 1px solid #ccc;
        
    }

    .active.navbar-link-container .navbar-link:last-child {
        /* Exclude the last navbar link from having a bottom border */
        border-bottom: none;
      }


    .active .navbar-link a{
        display: flex;
        justify-content: center; /* Horizontally center */
        align-items: center; /* Vertically center */
        text-align: center;
        min-height: 18vh;
        width: 100%;
    }

    .navbar-link a div{
        font-size: 1.25em;
        transition: none;
    }

}
  
/* On screens that are 700px or less, set the background color to olive */
@media all and (max-width: 700px) {

}
