/*Base Styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Quicksand';
    text-decoration: none;
}

.navbar {
    position: relative;
    z-index: 1;
    background-color: transparent;
    margin: 0 1em;
}

.navbar-container {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.navbar-container li{
    margin: 0.75em;
}

.navbar-logo {
    flex: 1;
    font-size: 2em;
    text-align: left;
}

.navbar-link {
    display: none;
    flex: 0 1 auto;
    font-size: 1.25em;
}

.navbar-link a svg{
    display: inline;
    margin-right: 0.1em;
    vertical-align: text-top;
}

.navbar-link a div{
    display: inline;
    font-size: 0;
    transition: font-size 300ms ease-in-out 100ms;
}

.active .navbar-link {
    display: block;
}

.active .navbar-link a svg{
    box-sizing: content-box;

    display: inline;
}

.button-secondary {
    border-bottom: 1px #444 solid;
}

.navbar-link a:hover div{
    font-size: 1.25em;
    color: #ccc;
}

.navbar-link a:hover{
    color: #ccc;
}

/*Tablet min-width*/
@media all and (min-width: 700px) {
    
}


@media all and (min-width: 960px){
    
    .navbar-container {
        align-items: center;
        justify-content: center;
    }

    .navbar-link {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }
}