.App {
  background-color: black;
  height: 100vh;
  text-align: center;
}

@font-face {
  font-family: "Futura Bold";   /*Can be any text*/
  src: local("Futura Bold"),
    url('./fonts/Futura\ Bold.otf') format("opentype");
}