.App {
  position: relative;
  z-index: 1;
}

.App::before{
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: var(--before-gradient);
  z-index: -1;
  transition: opacity 1s linear;
  opacity: var(--opacity);
}

/*Global HTML Tag Styles*/
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
 
}

p{
  font-size: 1.25rem;
  line-height: 1.2;
}

h1, h2, p{
  margin: 8px 16px;
}

i {
  font-style: italic;
}


/*Global Class Styles*/
.section-content-container {
  display: flex;
  flex: auto;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  min-height: 100vh;  
  margin: 0 auto;
  
  overflow-x: hidden;
}

.section-content-background {
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.222);
  border-radius: 8px;
}



.flex {
  display: flex;
}

@media all and (max-width: 960px) {

}


@media all and (max-width: 700px) {
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
   
  p {
    font-size: 1rem;
  }

}
